@import url('variables.css');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh-Sans', sans-serif;
}

body {
    padding: -1rem 18.3rem;
    height: 100vh;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.a {
    border: 1px solid #000;
}

.container {
    display: flex;
    height: calc(100vh - 24px);
    position: relative;
    padding: 100px;
}

.card {
    padding: 2px;
    margin: auto;
    display: flex;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0.464, 0.464, 0.464, 0.464) 0px 7px 29px 0px;
    overflow:hidden
}

.card_body_left {
    padding: 2px;
    width: 50%;
}

.card_body_left_img_1 {
    position: relative;
    left: -507px;
    top: -850px;
}

.card_body_left_img_2 {
    position: relative;
    z-index: 1000;
    width: 562px;
    left: -97px;
    top: 91px;
}

.pro {
    overflow:hidden
}

.card_body_left_img_3 {
    position: absolute;
    z-index: 3000;
    left: 15px;
    top: 386px;
}

.card_body_right {
    padding: 50px;
    width: 50%;
}

.card_body_right_title {
    margin: 30px 0px 30px 0px;
}

.card_body_right_text {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 25px 0px;
}

.card_body_right_paragh {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.card_body_right_paragh.active {
    padding: 0px 20px 10px 0px;
    height: auto;
}

.arrow {
    transition: all 0.3s linear;
    cursor: pointer;
}

@media screen and (max-width: 1168px) {

    body {
        width: 100%;
        padding: 0;
        height: auto;
        background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    }

    .container {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }
    .card {
        margin-top: 100px;
        width: 100%;
        padding: 30px;
        display: block;
        height: auto;
    }

    .card_body_left_img_2 {
        position: absolute;
        width: 302px;
        left: 39px;
        top: -12px;
    }

    .card_body_left_img_1 {
        width: 326px;
        left: -22px;
        top: -201px;
    }

    .card_body_left_img_3 {
        width: 110px;
        left: 18px;
        top: 89px;
    }

    .card_body_right {
        width: 100%;
        padding: 0;
    }

    .card_body_left {
        height: 100px;
    }
    
    .container {
        height: auto;
    }
}
